@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --border-color: #eaeaea;
  --border-radius: 3px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

code {
  margin-left: 7px;
  margin-right: 7px;
  background-color: rgba(29, 24, 24, 0.38);
  padding: 4px;
  border-radius: var(--border-radius);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pane {
  border: solid 1px var(--border-color);
  width: 100%;
}

.pane .pane-header {
  border-bottom: solid 1px var(--border-color);
  padding: 0.5em;
}

.fade {
  opacity: 0.6;
}
