.container-fluid.m-b-2
  .row
    .pane.m-t-1
      .pane-header.search-results__header
        .search-results__title
          b Select an outbound flight
          p.m-v-0.fade.small DEN → CHI
        .js-search-header-region
      .pane-content.js-results-region
  .row.m-t-1
    .col-xs-6.start-xs
      p.m-t-0.m-b-0 TODO: Page Count
    .col-xs-6
      .row.end-xs
        .btn.btn--sm.js-previous-page Previous Page
        .btn.btn--sm.m-l-1.js-next-page Next Page