.container-fluid.m-b-2
  .row
    .pane.m-t-1
      .pane-header.search-results__header
        .search-results__title
          b Select an outbound flight
          p.m-v-0.fade.small DEN → CHI
        .js-search-header-region
      .pane-content.js-results-region
