
.header-content.container-fluid
  img.header-image(src=require('assets/logo-color.jpg'))
  .navigation-buttons
    p.navigation-button.js-navigation-button(data-target="/") Instructions
    p.navigation-button.js-navigation-button(data-target="/search") Search