.search-results__filter-item--wrapper
  .search-results__filter-item.js-dropdown-toggle
    p.m-v-0 Airlines ▾
  ul.js-dropdown-menu
    li.drop-content-item.m-v-0.js-dropdown-action TODO...

.search-results__filter-item--wrapper
  .search-results__filter-item.js-dropdown-toggle
    p.m-v-0 Sort By #{sortByString} ▾
  ul.js-dropdown-menu
    li.drop-content-item.m-v-0.js-dropdown-action(data-action-type="sort") Best
    li.drop-content-item.m-v-0.js-dropdown-action(data-action-type="sort") Price (low)
    li.drop-content-item.m-v-0.js-dropdown-action(data-action-type="sort") Price (high)
    li.drop-content-item.m-v-0.js-dropdown-action(data-action-type="sort") Duration