.container
  .row
    .center-xs.col-xs-12.m-b-1.m-t-1
      img(src=require('assets/logo-color.svg'))
    .col-xs-8.col-xs-offset-2.m-b-1
      .center-xs
        h1 #{title}
        p To get started, remove this code and continue reading the readme. 
        p Don't like this boilerplate project? Feel free to spin up your own  
          | or tweak this project to your liking.
