.container
  .row
    .center-xs.col-xs-12(style="margin-bottom:16px")
    .center-xs.col-xs-12(style="margin-bottom:16px")
      img(src=require('assets/logo-color.svg'))
    .col-xs-8.col-xs-offset-2(style="margin-bottom:16px")
      .center-xs
        h1 #{title}
        p To get started, remove this code and continue reading the readme. 
        p Don't like this boilerplate project? Feel free to spin up your own  
          | or tweak this project to your liking.
